.animate-rise-up {
  animation: rise-up 0.5s ease-in-out forwards;
  animation-delay: 1s;
  transform: translateY(10%);
  opacity: 20%;
}

@keyframes rise-up {
  0% {
    transform: translateY(10%);
    opacity: 20%;
  }
  100% {
    transform: translateY(0);
    opacity: 80%;
  }
}

.bg-1 {
  background: radial-gradient(
    ellipse at center,
    #393939 20%,
    #292929 50%,
    #1c1c1c 100%
  );
  background-repeat: no-repeat;
}

.bg-1::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    transparent 50%,
    rgba(0, 0, 0, 0.35) 65%,
    rgba(0, 0, 0, 0.95) 95%
  );
  pointer-events: none;
}

.bg-2 {
  background: radial-gradient(
    ellipse at center,
    #d22934 30%,
    #9e191e 70%,
    #870d12 100%
  );
  background-repeat: no-repeat;
}

.bg-2::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    transparent 50%,
    rgba(0, 0, 0, 0.35) 100%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
}

.bg-3 {
  background: radial-gradient(
    ellipse at center,
    #ed8037 30%,
    #e47027 70%,
    #df641a 100%
  );
  background-repeat: no-repeat;
}

.bg-3::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    transparent 50%,
    rgba(0, 0, 0, 0.25) 100%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
}
.bg-4 {
  background: radial-gradient(
    ellipse at center,
    #db5382 30%,
    #d14378 70%,
    #c12f67 100%
  );
  background-repeat: no-repeat;
}

.bg-4::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    transparent 50%,
    rgba(0, 0, 0, 0.25) 100%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
}

.bg-5 {
  background: radial-gradient(
    ellipse at center,
    #e6c943 30%,
    #dcb92d 70%,
    #d3a91a 100%
  );
  background-repeat: no-repeat;
}

.bg-5::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    transparent 50%,
    rgba(0, 0, 0, 0.3) 100%,
    rgba(0, 0, 0, 0.95) 100%
  );
  pointer-events: none;
}
