@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  --font-poppins: var(--font-poppins);
}

.recolor-to-gray {
  filter: brightness(1) brightness(32%);
}

.recolor-to-black {
  filter: brightness(1) brightness(0%);
}
